# Environments & Secrets
.env
.env.local
.env.*.local
venv/
env/
.venv/

# Caches & Builds
__pycache__/
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.py[cod]
*$py.class
dist/
dist-ssr/
build/
node_modules/

# IDEs & Editors
.vscode/
!.vscode/extensions.json
.cursor/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jupyter Notebook & Dev Assets
.ipynb_checkpoints
code-architecture.ipynb